<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<p>To reset your password, please enter your email address or username below</p>
		<form autocomplete="off" #forgotForm="ngForm" [formGroup]="ForgotForm" (ngSubmit)="onSubmit(ForgotForm.value)" novalidate autocomplete="off">
            <div class="form-group">
                <label>Username: </label>
                <!-- <mat-form-field>
                <input matInput -->
                <input required
                    name="email" 
                    formControlName="email" 
                    class="form-control"
                    [formControl]="ForgotForm.get('email')"
                    [class.is-invalid]="ForgotForm.get('email').invalid && ForgotForm.get('email').touched" />
                <!-- <mat-error *ngIf="ForgotForm.get('email').invalid || ForgotForm.get('email').untouched">Enter Username</mat-error>
                </mat-form-field> -->
            </div>
	        <div class="text-center"> <a  routerLink="/auth/login"> Login</a> </div> <br/>
	        <!-- <button type="submit" mat-raised-button color="primary" [disabled]="!ForgotForm.valid">Submit</button> -->
            <div class="text-center"> 
                <button type="submit" class="btn btn-primary" [disabled]="!ForgotForm.valid">Submit</button>
            </div>
	    </form>
	</div>
    <div class="col-sm-4"></div>
</div>