<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<p>Reset your password</p>
		<form autocomplete="off" #resetForm="ngForm" [formGroup]="ResetForm" (ngSubmit)="onSubmit(ResetForm.value)" novalidate autocomplete="off">
            <div class="form-group">
                <label>New Password: </label>
                <!-- <mat-form-field>
                <input matInput -->
                <input required
                    type="password" 
                    name="newpassword" 
                    class="form-control"
                    formControlName="newpassword" 
                    [formControl]="ResetForm.get('newpassword')"
                    [class.is-invalid]="ResetForm.get('newpassword').invalid && ResetForm.get('newpassword').touched" />
                <!-- <mat-error *ngIf="ResetForm.get('newpassword').invalid || ResetForm.get('newpassword').untouched">Enter Password</mat-error>
                </mat-form-field> -->
            </div>
            <div class="text-center"> <a  routerLink="/auth/login"> Login</a> </div> <br/>
	      
	        <div class="text-center"> 
                <button type="submit" class="btn btn-primary" [disabled]="!ResetForm.valid">Reset</button>
            </div>
	    </form>
	</div>
    <div class="col-sm-4"></div>
</div>